.tagla {
  display: inline-block;
  overflow: visible;
  position: relative; }
  .tagla img {
    vertical-align: middle; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRhZ2xhLWNvcmUuc2FzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNXLHVCQUFBO0VBQ1QsbUJBQVU7RUFDVixvQkFBVSxFQUFBO0VBQ0w7SUFDSCx3QkFBZ0IsRUFBQSIsImZpbGUiOiJ0YWdsYS1jb3JlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi50YWdsYVxuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2tcbiAgb3ZlcmZsb3c6IHZpc2libGVcbiAgcG9zaXRpb246IHJlbGF0aXZlXG4gIGltZ1xuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGVcbiJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */